.product-card {
    width: 200px;
}

.product-card main {
    border: 1px solid lightgray;
}

.product-card main, .product-card footer {
    text-align: center;
}

.product-card .price {
    font-weight: bold;
}

.product-card .add-to-cart {
    width: 100%;
    font-size: 1.2rem;
}
